@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./header.css";
@import "./topPage.css";
@import "./footer.css";
@import "./record.css";
@import "./heath.css";
@import "./card.css";
@import "./collections.css";


:root  {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: rgb(16 20 57) !important;
}

.textWhite {
  color: #ffff;
}
.textyellow {
  color: #ffcc21;
}

.display_flex {
  display: flex;
}

.display_block {
  display: block;
}

.center {
  justify-content: center;
  align-items: center;
}
.flex_between {
  justify-content: space-between;
}

.wapper_container {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 60px;
  padding-bottom: 50px;
}

@media only screen and (max-width: 1024px) {
  .wapper_container {
    padding-left: 20px;
    padding-right: 20px;
  }
  
}

@media only screen and (max-width: 425px) {
  .wapper_container {
    padding-left: 5px;
    padding-right: 5px;
  }
}