.header {
  display: flex;
  align-items: center;
  background: rgb(10 8 75);
  min-height: 50px;
  max-height: 100px;
  padding-left: 50px;
  padding-right: 50px;
  position: fixed;
  width: 100%;
  z-index: 100;
  justify-content: space-between;
}
.header span {
  color: #ffff;
}

.header img {
  display: inline;
}

.logo-link {
  color: #ffff;
  text-decoration: none;
}

.item-link a {
  color: #ffff;
  text-decoration: none;
}

@media only screen and (max-width: 1024px) {
  .logo-link {
    flex: 2;
    text-decoration: "none";
  }
}

@media only screen and (max-width: 425px) {
  .logo-link {
    flex: 1;
    text-decoration: "none";
  }
}
