.nft_list_container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  row-gap: 50px;
}

.nft_card_container {
  background-color: #ffff;
  box-shadow: 7px 8px 7px 0px rgba(0,0,0,0.56);
  -webkit-box-shadow: 7px 8px 7px 0px rgba(0,0,0,0.56);
  -moz-box-shadow: 7px 8px 7px 0px rgba(0,0,0,0.56);
  border-radius: 10px;
  width: 200px;
  margin: auto;
}

.img_card {
  margin: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /* height: 'auto'; */
}

.text_card {
  display: block;
  text-align: center;
}

.title_card {
  font-weight: 500;
}

@media only screen and (max-width: 1024px) {
  .nft_list_container {
    grid-template-columns: auto auto auto auto;
  }
}

@media only screen and (max-width: 768px) {
  .nft_list_container {
    grid-template-columns: auto auto auto;
  }
}

@media only screen and (max-width: 425px) {
  .nft_list_container {
    grid-template-columns: auto auto ;
    column-gap: 5px;
  }
}

@media only screen and (max-width: 375px) {
  .nft_list_container {
    grid-template-columns: auto ;
  }
}